.container{
    text-align : center;
}

.title{
    margin-top: 50px;
    align-items: center;
    color: aliceblue;
    font-size: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.title span{
    color: #0d6efd;;
    padding-left: 10px;
}

.board{
    display: flex;
    height: 600px;
    width: 600px;
    margin: auto;
    padding-top:80px;
    padding-left: 30px;
}

.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    align-items: center;



    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn{
    margin-top: 90px;
    font-size: 25px;
}

.boxes img{
    margin: 40px;
    height: 100px;
    width: 100px;
} 

.title img{
    height: 50px;
    width: 50px;
    margin-top : 10px;
    margin-left : 15px;
    /* margin-bottom: 5px; */
}